PORT=4000

SUPABASE_URL=https://cmczjhlwonnykzmosueb.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNtY3pqaGx3b25ueWt6bW9zdWViIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjU5NDMzMCwiZXhwIjoyMDg4MTcwMzMwfQ.5Yqb-q-oPQUYt68TSveX5FWMsn1xejWzXgjm4s3DRtI

JWT_SECRET=g4EK4BjCb5ZYVUxpW1kAZ5FtkLcBZEiEFFTIhJjXgXOIuAlLcczc9rKrxSsvmtkik8Yf8Dx76c8dBLHv/glNhw==
JWT_EXPIRES_IN=3h

CORS_ORIGIN=http://localhost:4028
FRONTEND_URL=https://csi-legal.vercel.app